body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Градиентный фон */
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px; /* Ограничение максимальной ширины контейнера */
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px; /* Увеличенная высота текстового поля */
    padding: 15px;
    margin-top: 20px;
    border: 2px solid #4a90e2; /* Яркая граница */
    border-radius: 8px;
    box-sizing: border-box;
    resize: none; /* Предотвращает изменение размера поля ввода */
    overflow-y: auto; /* Позволяет прокрутку, если текст выходит за пределы поля */
    font-size: 1em; /* Размер шрифта для текста */
    color: #333;
}

#charCount {
    margin-top: 15px;
    font-size: 1.5em; /* Увеличенный размер шрифта */
    color: #4a90e2; /* Цвет текста счетчика символов */
    font-weight: bold; /* Жирное начертание текста */
}